<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>


<div class="container" style="max-width: 900px; min-width: 0px; text-align: left; float: none;">


    <form action="/search" class="card card-sm">
        <div class="card-body row no-gutters align-items-center">
            <div class="col-auto">
                <i class="fas fa-search h4 text-body"></i>
            </div>
            <!--end of col-->
            <div class="col">
                <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search topics or keywords" name="search" id="search" >
            </div>
            <!--end of col-->
            <div class="col-auto">
                <button class="btn btn-lg btn-success" type="submit">Search</button>
            </div>
            <!--end of col-->
        </div>
    </form>
    <a class="btn btn-success" href="/contacts/new"
            style="background-color: rgb(44, 200, 66); float: none; display: inline-block; top: auto; left: auto; right: auto;">
        New</a>

    <div class="m-5">
        <table class="table" style="">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {{ $Contacts := . }}
            {{range $key, $value := $Contacts }}
            <tr>
                <th scope="row">{{$value.Id}}</th>
                <td>{{$value.FirstName}} &nbsp;{{$value.LastName}}
                    <a class="btn btn-primary" href="/contacts/{{.Id}}/addphone"
                            style="text-align: left; float: right; border-style: solid;">AddPhone </a>

                </td>
                <td>
                {{ range $value.Phones}}
                    <li><b>{{ . }}</b></li>
                {{end}}
                </td>
                <td style="max-width: 170px; width: 171px;">
                    <a href="/contacts/{{.Id}}" class="btn btn-primary">Edit</a>
                    <span data-id="{{.Id}}" class="do-delete btn btn-danger">Del</span>
                </td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>

<script type="text/javascript">
    $('.do-delete').click(function () {
        if (!confirm("Are you sure?")) {
            return
        }
        $elem = $(this)
        $.ajax({
            url: '/contacts/' + $elem.data("id"),
            type: 'DELETE',
            data: {},
            success: function (resp) {
                if (resp.affected > 0) {
                    $elem.parent().parent().remove()
                }
            },
        });
    })
</script>
</body>
</html>